#about
    .textbox
        h1
            font-weight: 700
            font-size: 40px
            &:hover
                cursor: text
        p
            font-size: 18px
            color: #737382
            margin: 20px 0 60px
            &:hover
                cursor: text
    .box
        .minibox
            position: relative
            margin: 0 0 118px
            .left, .right
                width: 566px
                h2, h3
                    font-weight: 600
                    font-size: 25px
                    &:hover
                        cursor: text
                h3
                    margin: 15px 0
                    &:hover
                        cursor: text
                p
                    font-size: 18px
                    line-height: 1.5
                    color: #737382
                    &:hover
                        cursor: text
            .left
                text-align: end
                padding: 0 50px 0 140px
            .right
                text-align: start
                padding: 0 140px 0 50px
            .imgbox
                position: absolute
                border: 5px solid #d2d2d2
                border-radius: 50%
                width: 165px
                height: 165px
                left: 570px
            .part
                position: absolute
                border: 5px solid #d2d2d2
                border-radius: 50%
                width: 165px
                height: 165px
                background-color: #ffc800
                color: #ffffff
                font-weight: 600
                font-size: 22px
                left: 570px
                top: -20px
                h5
                    line-height: 1.4
                    &:hover
                        cursor: text
        .start
            display: flex
        .end
            display: flex
            justify-content: flex-end
        .last
            display: flex
            justify-content: center
    @media (min-width: 1200px) and ( max-width: 1400px )
        .box
            .minibox
                .left, .right
                    width: 500px
                .imgbox
                    left: 470px
                .part
                    left: 470px
    @media (min-width: 992px) and ( max-width: 1200px )
        .box
            .minibox
                .left, .right
                    width: 500px
                .left
                    padding: 0 150px 0 20px
                .right
                    padding: 0 20px 0 150px
                .imgbox, .part
                    left: 400px
                    width: 140px
                    height: 140px
                .part
                    font-size: 20px
    @media (min-width: 768px) and ( max-width: 992px )
        .box
            .minibox
                margin: 0 0 70px
                .left, .right
                    width: 350px
                .left
                    padding: 0 80px 0 20px
                .right
                    padding: 0 20px 0 80px
                .imgbox, .part
                    left: 300px
                    width: 100px
                    height: 100px
                .part
                    font-size: 17px
    @media (min-width: 200px) and ( max-width: 768px )
        .box
            .minibox
                margin: 0 0 30px
                .left
                    text-align: start
                    padding: 0 0 0 90px
                .right
                    padding: 0 20px 0 80px
                .imgbox, .part
                    left: 0
                    width: 70px
                    height: 70px
                .part
                    font-size: 13px
            .start
                display: flex
                flex-direction: row-reverse
