#about
    .textbox
        h1
            font-weight: 700
            font-size: 40px
            &:hover
                cursor: text
        p
            font-size: 18px
            color: #737382
            margin: 20px 0 60px
            &:hover
                cursor: text
    .box
        .minibox
            margin: 0 0 118px
            .left, .right
                width: 566px
                h2, h3
                    font-weight: 600
                    font-size: 25px
                    &:hover
                        cursor: text
                h3
                    margin: 15px 0
                    &:hover
                        cursor: text
                p
                    font-size: 18px
                    line-height: 1.5
                    color: #737382
                    &:hover
                        cursor: text
            .left
                text-align: end
                padding: 0 50px 0 140px
            .right
                text-align: start
                padding: 0 140px 0 50px
            .imgbox
                border: 5px solid #d2d2d2
                border-radius: 50%
                width: 165px
                height: 165px
        .start
            display: flex
        .end
            display: flex
            justify-content: flex-end
        .part
            border: 5px solid #d2d2d2
            border-radius: 50%
            width: 165px
            height: 165px
            background-color: #ffc800
            color: #ffff
            font-weight: 600
            font-size: 22px
            h5
                line-height: 1.4
                &:hover
                    cursor: text
        .last
            display: flex
            justify-content: center
    @media (min-width: 768px) and ( max-width: 992px )
        .box
            .minibox
                .imgbox
                    width: 80px
                    height: 80px
                .left
                    text-align: start
                    padding: 0 140px 0 50px
                .part
                    width: 80px
                    height: 80px
                    font-size: 14px
            .start
                display: flex
                flex-direction: row-reverse
            .last
                display: flex
                justify-content: flex-start
                padding: 0 140px 0 50px
    @media (min-width: 300px) and ( max-width: 768px )
        .box
            .minibox
                margin: 0 0 20px
                .left, .right
                    width: 0
                .imgbox
                    width: 60px
                    height: 60px
                .left
                    text-align: start
                    padding: 0 60px 0 20px
                .right
                    padding: 0 60px 0 20px
                .part
                    width: 60px
                    height: 60px
                    font-size: 10px
            .start
                display: flex
                flex-direction: row-reverse
            .last
                display: flex
                justify-content: flex-start
                padding: 0 0 0 60px
