#about
    .textbox
        h1
            font-weight: 700
            font-size: 40px
            &:hover
                cursor: text
        p
            font-size: 18px
            color: #737382
            margin: 20px 0 60px
            &:hover
                cursor: text
    .box
        margin: 0 0 118px
        .left, .right
            width: 566px
            h2, h3
                font-weight: 600
                font-size: 25px
                &:hover
                    cursor: text
            h3
                margin: 15px 0
                &:hover
                    cursor: text
            p
                font-size: 18px
                line-height: 1.5
                color: #737382
                &:hover
                    cursor: text
        .left
            padding: 0 50px 0 140px
        .right
            padding: 0 140px 0 50px
        .imgbox
            border: 5px solid #d2d2d2
            border-radius: 50%
            width: 165px
            height: 165px
    .part
        border: 5px solid #d2d2d2
        border-radius: 50%
        width: 165px
        height: 165px
        background-color: #ffc800
        color: #ffff
        font-weight: 600
        font-size: 22px
        h5
            line-height: 1.4
            &:hover
                cursor: text
