header
    padding: 25px 0
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 1
    background-color: #212529
    .imgbox
        img
            width: 190px
            &:hover
                cursor: pointer
    nav
        a
            color: #d1cfcf
            margin-left: 30px
            font-size: 16px
            &:hover
                color: #c0a916
                cursor: pointer
    .minimenu
        display: none
        background-color: #080808
        border: 4px solid #767373
        border-radius: 10%
        h5
            color: #ffff
        &:hover

    // @media ( min-width: 576px )
    // @media ( min-width: 768px )
    @media ( max-width: 1000px )
        .minimenu
            display: block
        nav
            display: none
