#welcome
    height: 755px
    display: flex
    align-items: center
    background-image: url(Assets/header-bg.jpg)
    background-size: cover
    background-position: center
    .textbox
        h2
            margin-top: 70px
            font-size: 35px
            font-weight: 400
            color: #ffffff
            &:hover
                cursor: text
        h1
            font-size: 75px
            font-weight: 700
            color: #ffffff
            margin: 30px 0 60px
            &:hover
                cursor: text
        .btn
            border-radius: 5px
            padding: 18px 53px
            color: #ffffff
            background-color: rgb(255, 200, 0)
            font-weight: 700
            font-size: 20px
            &:hover
                background-color: #9f832f
                a
                    cursor: pointer
    @media ( max-width: 768px )
        .textbox
            h2
                font-size: 25px
            h1
                font-size: 45px
            .btn
                font-size: 16px
                padding: 14px 25px
    @media ( min-width: 768px ) and (max-width: 992px)
        .textbox
            h2
                font-size: 30px
            h1
                font-size: 60px
            .btn
                font-size: 18px
                padding: 16px 35px
